<div>
  <div>
    <div>
      <h1 data-testid="simple-title">Мессенджер Telegram запустил Telegraph</h1>
      <div data-testid="meta">
        <div data-testid="meta-item"><time data-testid="timestamp">09:12, 23 ноября 2016</time></div>
        <div data-testid="meta-item">Источник: <a href="https://telegram.org/blog/instant-view" target="_blank"
            rel="noopener noreferrer">Telegram</a></div>
      </div>
    </div>
  </div>
  <div>
    <div><a href="https://mdza.io/Ij40fzWd-Y8" target="_blank" rel="noopener noreferrer">На компьютере хаос? В сентябре
        вас ждет...</a>
      <div>Партнерская игра</div>
      <button type="button"></button>
    </div>
  </div>
  <div>
    <div>
      <div>
        <p>Данное сообщение (материал) создано и&nbsp;(или) распространено иностранным средством массовой информации,
          выполняющим функции иностранного агента, и&nbsp;(или) российским юридическим лицом, выполняющим функции
          иностранного агента.</p>
        <a href="https://support.meduza.io" target="_blank" rel="noreferrer">Что это за&nbsp;сообщение и&nbsp;почему оно
          повсюду на&nbsp;&laquo;Медузе&raquo;?</a>
      </div>
      <p>Мессенджер Telegram представил платформу для публикаций текстов <a href="http://telegra.ph/"
          rel="noopener">Telegraph</a>. Новый сервис внешне похож на&nbsp;блог-платформу Medium, но&nbsp;не&nbsp;требует
        регистрации и&nbsp;обладает менее богатым функционалом.&nbsp;</p>
      <p>В&nbsp;записях на&nbsp;Telegraph можно вставлять видео, твиты и&nbsp;другой контент. Редактирование записи,
        по&nbsp;всей видимости, возможно только с&nbsp;того компьютера, на&nbsp;котором она была создана.&nbsp;</p>
      <p>В&nbsp;мессенджере Telegram ссылки на&nbsp;Telegraph отображаются с&nbsp;помощью функции Instant View, которая
        позволяет просматривать страницы, не&nbsp;ожидая их&nbsp;загрузки&nbsp;&mdash; по&nbsp;аналогии с&nbsp;Instant
        Articles в&nbsp;Facebook. С&nbsp;помощью Instant View можно просматривать ссылки на&nbsp;ограниченное количество
        сайтов, но&nbsp;в&nbsp;будущем создатели Telegram планируют охватить весь интернет. Instant View доступен
        в&nbsp;обновленной версии Telegram, которая уже доступна для загрузки.&nbsp;</p>
      <blockquote cite="https://telegram.org/blog/instant-view" data-testid="source-block">
        <p>Познакомьтесь с&nbsp;Instant View, новым элегантным способом смотреть статьи о&nbsp;собаках с&nbsp;нулевым
          временем загрузки. Чтобы попробовать, используйте версию Telegram 3.14 и&nbsp;поделитесь ссылкой на&nbsp;пост
          в&nbsp;Medium или статью на&nbsp;TechCrunch (англ. яз.).</p>
        <footer><cite>Telegram</cite></footer>
      </blockquote>
      <p>Telegram&nbsp;&mdash; популярный мессенджер, созданный основателем социальной сети &laquo;Вконтакте&raquo;
        Павлом Дуровым. Telegram называет себя самым защищенным мессенджером и&nbsp;утверждает, что не&nbsp;отдает
        властям информацию о&nbsp;пользователях.&nbsp;</p>
      <div>
        <div>
          <div>
            <div>Реклама</div>
          </div>
        </div>
      </div>
      <p>Одной из&nbsp;наиболее популярных функций в&nbsp;Telegram стали авторские каналы, которые можно читать,
        но&nbsp;нельзя комментировать.&nbsp;</p>
      <div data-testid="related-block">
        <h3>Читайте также</h3>
        <ul>
          <li><a href="/feature/2016/09/25/100-otlichnyh-naborov-stikerov-dlya-telegram">100 отличных наборов стикеров
              для Telegram Рекомендуют читатели &laquo;Медузы&raquo;</a></li>
          <li><a href="/shapito/2016/10/09/30-naborov-bezumnyh-stikerov-dlya-telegram">30 наборов безумных стикеров для
              Telegram Читатели &laquo;Медузы&raquo; рекомендуют странное</a></li>
          <li><a href="/feature/2016/03/30/telegram-chat">Лучшие каналы Telegram Чат-путеводитель
              &laquo;Медузы&raquo;</a></li>
        </ul>
      </div>
      <div data-testid="donates-teaser">
        <div>
          <h3>Слушайте музыку, помогайте &laquo;Медузе&raquo;</h3>
        </div>
        <div><a href="https://support.meduza.io" target="_blank" rel="noreferrer">Дать денег</a></div>
      </div>

    </div>
    <div>
      <div>
        <div>
          <div>Реклама</div>
          <div><a href="//meduza.io/static/ads/mediakit-ru.pdf" target="_blank">Медиакит</a><a
              href="/slides/prays-list-meduzy" target="_blank">Цены</a><a href="/specials/cometogether"
              target="_blank">Нативная реклама</a><a href="/feature/2018/04/23/hotite-kommercheskiy-proekt-na-meduze"
              target="_blank">Связаться</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
